.c-search__box{
    height: 46px;
    width: 367px;
    border: 1px solid #707070;
    border-radius: 0.67em;
    background-color: #ffffff;
    margin-right: 15px;
}

.c-search__button{
    height: 46px;
    width: 138px;
    border: 1px solid #707070;
    color: #707070;
    border-radius: 0.67em;
    background-color: #ded8d3;
    margin-right:39px;
    font-family: "M+ 1m";
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

