.p-frontpage__top {
    height: 530px;
    background-image: url(../image/p-front-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -115px ;
      
    >P{
      font-size: 40px;
      font-weight: bold;
      padding-left: 86px;
      padding-top: 259px;
      color:#ffffff
    }
  }

.p-frontpage__center {
    padding: 80px 72px 95px 72px; 
    display: flex;
  }

.p-frontpage__center__card--takeout{
      margin: 40px;
      width: 625px;
      height: 1193px;
      padding:20px 20px 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../image/p-frontpage-center-takeout.jpg);

      >p{
        color: #ffffff;
        font-size: 80px;
        font-weight: bold;
      }
     }

.p-frontpage__center__card--eatin{
      margin: 40px;
      width: 625px;
      height: 1193px;
      padding:20px 20px 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../image/p-frontpage-center-eatin.jpg);

      >p{
        color: #ffffff;
        font-size: 80px;
        font-weight: bold;
      }
    }
     
  .p-frontpage__center__textbox{
      height: 174px;
      margin-top:20px;
      background-color: rgba(#fff, 0.6);
      padding:0px 20px 0px 20px;
      
  }
  