.p-frontpage__top {
    height: 530px;
    background-image: url(../image/p-front-top.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 0px -115px ;
      
    >P{
      font-size: 40px;
      font-weight: bold;
      padding-left: 86px;
      padding-top: 240px;
      color:#ffffff
    }
  }

.p-frontpage__center {
    padding: 80px 72px 95px 72px; 
    display: flex;
  }

.p-frontpage__center__card--takeout{
      margin: 40px;
      width: 625px;
      height: 1193px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../image/p-frontpage-center-takeout.jpg);

      > h2{
        color: #ffffff;
        font-size: 80px;
        font-weight: bold;
        margin: 20px;
        position: relative;
      }

      h2::after{
        content: "";
        width: 63px;
        height: 4px;
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        bottom: -35px;
        left: 10px;
      }
     }

.p-frontpage__center__card--eatin{
      margin: 40px;
      width: 625px;
      height: 1193px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../image/p-frontpage-center-eatin.jpg);

      > h2{
        color: #ffffff;
        font-size: 80px;
        font-weight: bold;
        margin: 20px;
        position: relative;
      }

      h2::after{
        content: "";
        width: 63px;
        height: 4px;
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        bottom: -35px;
        left: 10px;
      }
 }

     
.p-frontpage__text{
      position: absolute;
      margin: 0 20px 0 20px;
      bottom: 20px;
}
  
.p-frontpage__map{
      width: 100%;
      height: auto;
      position: relative;

  iframe{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
  }
}

.p-frontpage__layer--below{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: rgba(#000000, 0.40);
      z-index: 100;
}

.p-frontpage__layer--above{
      width: 61.17%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: rgba(#000000, 0.29);
      z-index: 110;
      padding:0 134px 0 119px;
      position: relative;
}