.p-pagenation {
    width: 100%;
    min-height: 159px;

    display: flex;
    align-items: center;
    justify-content: center;

    >ul{
        display: flex;

        >li{
            padding: 0px 13px 0px 0px;
            font-size: 16px;

            &:first-of-type{
                padding-top: 10px;

                &::after{
                    content: "≪";
                    color: #707070;
                    padding-left: 10px;
                }
            }

            &:last-of-type{
                position: relative;

                &::after{
                    position: absolute;
                    top: 10px;
                    right: -21px;
                    content: "≫";
                    color: #707070;
                }
            }

            a {
                display: block;
                color: #707070;
                border: solid 1px #707070;
                padding: 7px 12px 7px 12px;
            }
        }
    }
}

