
.l-contents__leftcolumn{
    width: 80.88%;
    height: 100%; 
    display: flex;
}
   
.l-contents__rightcolumn{
    display: flex;
    width: 19.12%;
    height: 100%;
    background-color:#e01f1f;
   }